<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- table onclick -->
    <meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&family=Song+Myung&display=swap" rel="stylesheet">
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&family=Song+Myung&display=swap" rel="stylesheet"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <!-- JQuery를 import 합니다 -->
    <title>파피봇과 경제 생활 | 개인 프로젝트</title>
    <style>
        /* .title {
            margin: auto;
            background-image: url();
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
            color: white;
            border-radius: 10px;
            margin: 20px auto;
        } */

        .stock_align {
            /* width: 400px;
            margin: 10px auto; */
            text-align: center;
            text-size : xx-small;
            /* padding-bottom: 10px; */
        }

        .wrap {
            width: 65%;
            margin: 0 auto;
            border-radius: 10px;
        }

        .wrap2 {
            width: 400px;
            margin: 10px auto;
            text-align: center;
            padding-bottom: 10px;
        }

        .wrap_box {
            width: 1200px;
            margin: auto;
        }

        .wrap_ecotrand {
            width: 1200px;
            margin: 10px auto;
            text-align: center;
            padding-bottom: 10px;
        }

        .wrap_ecotrand_title {
            width: 1200px;
            margin: 10px auto;
            text-align: left;
            ;
            padding-bottom: 10px;
        }

        .wrap_currency {
            width: 1200px;
            margin: 10px auto;
            text-align: center;
            /* padding-bottom: 10px; */
            padding-top: 50px;
        }

        .wrap_currency_title {
            width: 1200px;
            margin: 10px auto;
            text-align: left;
            padding-top: 60px;
            padding-bottom: 10px;
        }

        body {
            font-family: 'Song Myung', serif;
        }

        /* 배경위치  */
        #static {
            width: 400px;
            height: 600px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            /* background-color: white; */
        }

        #relative2 {
            width: 400px;
            height: 600px;
            padding-left: 5px;
            padding-right: 5px;
            /* background-color: white; */
            position: relative;
            top: -600px;
            left: 400px;
            text-align: center;
        }

        #relative3 {
            width: 400px;
            height: 600px;
            padding-left: 5px;
            padding-right: 5px;
            /* background-color: white; */
            position: relative;
            top: -1200px;
            left: 800px;
            text-align: center;
        }


        /* 배경위치  */
    </style>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

        $(document).ready(function () {

            listing()
        });
        // tabla onclick
        function changeTrColor(trObj, oldColor, newColor) {
            trObj.style.backgroundColor = newColor;
            trObj.onmouseout = function () {
                trObj.style.backgroundColor = oldColor;
            }
        }
        function clickTrEvent(trObj) {
            alert(trObj.id);
        }

        // 주식 종목 검색
        function searching() {
            $('#stock').html('');
            let name = $('#searchingCode').val();
            let symbol = $('#searchingCode').val();

            if ('' == name) {
                alert('종목 또는 코드가 입력되지 않았습니다.');
                $('#searchingCode').focus();
                return
            }
            $.ajax({
                type: "POST",
                url: '/api/search',
                data: { 'name': name, 'symbol': symbol },
                success: function (response) {
                    if (response['result'] == 'success') {
                        let sts = response['st_list'];
                        let symbol = response['symbol'];
                        let name = response['name'];
                        $('#st_name').html(name);
                        $('#st_symbol').html(symbol);
                        $('#staticBackdrop').modal('show');
                        for (let v of sts) {
                            $('#stock_date').append(`
                                <td>${v.DATE} </td>
                            `);
                            $('#stock_data').append(`
                                <td>${v.DATA} </td>
                            `);
                        }
                    }
                    else
                        alert('종목명을 확인해 주세요')
                }
            })
            $('#searchingCode').val('');
        }
        // 페이지 로딩시 화면 표시
        function listing() {
            $.ajax({
                type: "GET",
                url: '/currency',
                data: {},
                success: function (response) {
                    let usrate = response.USDKRW[0];
                    let cnrate = response.CNYKRW[0];
                    let eurate = response.EURKRW[0];
                    let jprate = response.JPYKRW[0];
                    $('#usrates').html(usrate);
                    $('#cnrates').html(cnrate);
                    $('#eurates').html(eurate);
                    $('#jprates').html(jprate);
                }
            })
            $.ajax({
                type: "GET",
                url: '/korindices', // investing.com으로 부터 국내지수 크롤링
                data: {},
                success: function (response) {
                    let KOSPI = response['KOSPI'];
                    let KOSPI_INDE = response['KOSPI_INDE'];
                    let KOSPI_WIDTH = response['KOSPI_WIDTH'];
                    let KOSDAQ = response['KOSDAQ'];
                    let KOSDAQ_INDE = response['KOSDAQ_INDE'];
                    let KOSDAQ_WIDTH = response['KOSDAQ_WIDTH'];
                    $('#kospi').html(KOSPI);
                    $('#kospi_inde').html(KOSPI_INDE);
                    $('#kospi_width').html(KOSPI_WIDTH);
                    $('#kosdaq').html(KOSDAQ);
                    $('#kosdaq_inde').html(KOSDAQ_INDE);
                    $('#kosdaq_width').html(KOSDAQ_WIDTH);

                    if (KOSPI_INDE > 0) {
                        $('#kospi_inde').css('color', 'red');
                    } else {
                        $('#kospi_inde').css('color', 'blue');
                    }
                    if (KOSPI_WIDTH.replace('%', '') > 0) {
                        $('#kospi_width').css('color', 'red');
                    } else {
                        $('#kospi_width').css('color', 'blue');
                    }
                    if (KOSDAQ_INDE > 0) {
                        $('#kosdaq_inde').css('color', 'red');
                    } else {
                        $('#kosdaq_inde').css('color', 'blue');
                    }
                    if (KOSDAQ_WIDTH.replace('%', '') > 0) {
                        $('#kosdaq_width').css('color', 'red');
                    } else {
                        $('#kosdaq_width').css('color', 'blue');
                    }

                }
            })
            $.ajax({
                type: "GET",
                url: '/amrindices',  // investing.com으로 부터 미국지수 크롤링
                data: {},
                success: function (response) {
                    let SNP = response['SNP'];
                    let SNP_INDE = response['SNP_INDE'];
                    let SNP_WIDTH = response['SNP_WIDTH'];
                    let NASDAQ = response['NASDAQ'];
                    let NASDAQ_INDE = response['NASDAQ_INDE'];
                    let NASDAQ_WIDTH = response['NASDAQ_WIDTH'];
                    let DJI = response['DJI'];
                    let DJI_INDE = response['DJI_INDE'];
                    let DJI_WIDTH = response['DJI_WIDTH'];
                    $('#snp').html(SNP);
                    $('#snp_inde').html(SNP_INDE);
                    $('#snp_width').html(SNP_WIDTH);
                    $('#nasdaq').html(NASDAQ);
                    $('#nasdaq_inde').html(NASDAQ_INDE);
                    $('#nasdaq_width').html(NASDAQ_WIDTH);
                    $('#dji').html(DJI);
                    $('#dji_inde').html(DJI_INDE);
                    $('#dji_width').html(DJI_WIDTH);

                    if (SNP_INDE < 0) {
                        $('#snp_inde').css('color', 'red');
                    } else {
                        $('#snp_inde').css('color', 'blue');
                    }
                    if (SNP_WIDTH.replace('%', '') < 0) {
                        $('#snp_width').css('color', 'red');
                    } else {
                        $('#snp_width').css('color', 'blue');
                    }

                    if (NASDAQ_INDE < 0) {
                        $('#nasdaq_inde').css('color', 'red');
                    } else {
                        $('#nasdaq_inde').css('color', 'blue');
                    }
                    if (NASDAQ_WIDTH.replace('%', '') < 0) {
                        $('#nasdaq_width').css('color', 'red');
                    } else {
                        $('#nasdaq_width').css('color', 'blue');
                    }

                    if (DJI_INDE < 0) {
                        $('#dji_inde').css('color', 'red');
                    } else {
                        $('#dji_inde').css('color', 'blue');
                    }
                    if (DJI_WIDTH.replace('%', '') < 0) {
                        $('#dji_width').css('color', 'red');
                    } else {
                        $('#dji_width').css('color', 'blue');
                    }

                }
            })
        }

    </script>
</head>

<body>
    <header>
        Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Digital Nomad</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://finance.yahoo.com/">yahoo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://investing.com">investing</a>

                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input id="searchingCode" class="form-control mr-sm-2" type="text" placeholder="symbol은 대문자로 "
                        aria-label="Search">
                    <!-- Button trigger modal -->
                    <button type="button" onclick="searching()" class="btn btn-primary">
                        search
                    </button>
                </form>
            </div>
        </nav>
    </header>




    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Modal 상단 종목, 코드 표시-->
                    <table class="table table-hover">
                        <tbody>
                            <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand"
                                class="stock_align">
                                <td>
                                    <div id="st_name" style="color:black"></div>
                                </td>
                                <td>
                                    <div id="st_symbol" style="color:black"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Modal 상단 종목, 코드 표시-->
                    <!-- <h5 class="modal-title" id="staticBackdropLabel"></h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Modal 종목 값-->
                    <table>
                        <tr id="stock_date" class="stock_align"></tr>
                        <tr id="stock_data" class="stock_align"></tr>
                    </table>                 
                </div>

                <!-- <div style="width:800px"> chart...
                    <canvas id="myChart"></canvas>
                </div> -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap_currency">
        <table class="table table-hover">
            <!-- <thead>
                <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand">
                    <th scope="col">#</th>
                    <th scope="col">USD / KRW</th>
                    <th scope="col">CNY / KRW</th>
                    <th scope="col">EUR / KRW</th>
                    <th scope="col">JPY / KRW</th>
                </tr>
            </thead> -->
            <tbody>
                <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand">
                    <th scope="row">환율정보</th>
                    <td>
                        <a>
                            <h6>USD / KRW</h6>
                        </a>
                        <div id="usrates" style="color:black"></div>
                    </td>
                    <td>
                        <a>
                            <h6>CNY / KRW</h6>
                            <div id="cnrates" style="color:black"></div>
                    </td>
                    <td>
                        <a>
                            <h6>EUR / KRW</h6>
                            <div id="eurates" style="color:black"></div>
                    </td>
                    <td>
                        <a>
                            <h6>JYP / KRW</h6>
                            <div id="jprates" style="color:black"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="wrap_ecotrand_title">
        <a>

        </a>
    </div>

    <div class="wrap_ecotrand">
        <table class="table table-hover">
            <thead>
                <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand">
                    <th scope="col">주요지표</th>
                    <th scope="col">KOSPI</th>
                    <th scope="col">KOSDAQ</th>
                    <th scope="col">S&P500</th>
                    <th scope="col">NASDAQ</th>
                    <th scope="col">DOW</th>
                </tr>
            </thead>
            <tbody>
                <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand">
                    <th scope="row">지수</th>
                    <td align="center"
                        onClick="window.open('https://finance.yahoo.com/quote/%5EKS11?p=^KS11&.tsrc=fin-srch');"
                        style="cursor:pointer">
                        <div id="kospi" style="color:black"></div>
                    </td>
                    <td align="center"
                        onClick="window.open('https://finance.yahoo.com/quote/%5EKOSDAQ?p=^KOSDAQ&.tsrc=fin-srch');"
                        style="cursor:pointer">
                        <div id="kosdaq" style="color:black"></div>
                    </td>
                    <td align="center"
                        onClick="window.open('https://finance.yahoo.com/quote/%5EGSPC?p=^GSPC&.tsrc=fin-srch');"
                        style="cursor:pointer">
                        <div id="snp" style="color:black"></div>
                    </td>
                    <td align="center"
                        onClick="window.open('https://finance.yahoo.com/quote/%5EIXIC?p=^IXIC&.tsrc=fin-srch');"
                        style="cursor:pointer">
                        <div id="nasdaq" style="color:black"></div>
                    </td>
                    <td align="center"
                        onClick="window.open('https://finance.yahoo.com/quote/%5EDJI?p=^DJI&.tsrc=fin-srch');"
                        style="cursor:pointer">
                        <div id="dji" style="color:black"></div>
                    </td>
                </tr>

                <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand">
                    <th scope="row">변동</th>
                    <td>
                        <div id="kospi_inde" style="color:black"></div>
                    </td>
                    <td>
                        <div id="kosdaq_inde" style="color:black"></div>
                    </td>
                    <td>
                        <div id="snp_inde" style="color:black"></div>
                    </td>
                    <td>
                        <div id="nasdaq_inde" style="color:black"></div>
                    </td>
                    <td>
                        <div id="dji_inde" style="color:black"></div>
                    </td>
                </tr>

                <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand">
                    <th scope="row">변동%</th>
                    <td>
                        <div id="kospi_width" style="color:black"></div>
                    </td>
                    <td>
                        <div id="kosdaq_width" style="color:black"></div>
                    </td>
                    <td>
                        <div id="snp_width" style="color:black"></div>
                    </td>
                    <td>
                        <div id="nasdaq_width" style="color:black"></div>
                    </td>
                    <td>
                        <div id="dji_width" style="color:black"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="wrap_box">
        <div id="static">
            <a>
                <h3>경제뉴스(포털)</h3>
            </a>
            <!-- <div class="card-columns" id="cards-box"> -->
            <div class="card">
                <img class="card-img-top"
                    src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div id="relative2">
            <a>
                <h3>경제뉴스(영상)</h3>
            </a>
            <!-- <div class="card-columns" id="cards-box"> -->
            <div class="card">
                <img class="card-img-top"
                    src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div id="relative3">
            <a>
                <h3>포트폴리오</h3>
            </a>
            <!-- <div class="card-columns" id="cards-box"> -->

            <table class="table table-hover">
                <thead>
                    <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand">
                        <th scope="col">종목명</th>
                        <th scope="col">주가</th>
                        <th scope="col">주당배당금</th>
                    </tr>
                </thead>
                <tbody>
                    <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand">
                        <th scope="row">tesla</th>
                        <td>
                            <h6>tesla</h6>
                        </td>
                        <td>
                            <h6>tesla</h6>
                        </td>

                    </tr>

                    <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand">
                        <th scope="row">tesla</th>
                        <td>
                            <h6>tesla</h6>
                        </td>
                        <td>
                            <h6>tesla</h6>
                        </td>
                    </tr>
                    <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand">
                        <th scope="row">tesla</th>
                        <td>
                            <h6>tesla</h6>
                        </td>
                        <td>
                            <h6>tesla</h6>
                        </td>
                    </tr>
                    <tr onmouseover="javascript:changeTrColor(this, '#FFFFFF', '#F4FFFD')" style="cursor:hand">
                        <th scope="row">tesla</th>
                        <td>
                            <h6>tesla</h6>
                        </td>
                        <td>
                            <h6>tesla</h6>
                        </td>
                    </tr>
                </tbody>
            </table>


            <!-- </div> -->
        </div>
    </div>

</body>

</html>